@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.meal-list .icon-price .meal-price p, header i, .button-menu, .geoloc, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .new {
  background-color: #99E2D0;
  color: #238068;
  position: absolute;
  padding: 0.3rem 0.8rem;
  border-radius: 2.5px;
  right: 1rem;
  top: 1rem;
}

.meal-list9, .meal-list8, .meal-list7, .meal-list6, .meal-list5, .meal-list4, .meal-list3, .meal-list2, .meal-list1 {
  -webkit-animation: meal-loader 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: meal-loader 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

header {
  margin: 0;
  padding: 1.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
header img {
  width: 200px;
}

footer {
  background-color: #353535;
  font-family: "Roboto";
}
footer .footer-container {
  width: 95%;
  max-width: 1240px;
  margin: auto;
}
footer img {
  padding-top: 1rem;
  padding-left: 1rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 125px;
}
footer ul {
  margin: 0;
  padding: 0 1rem;
}
footer ul li {
  margin: 0.7rem 0rem;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a i {
  width: 1rem;
  padding-right: 0.5rem;
}

.footer-container-menu {
  margin-top: -5rem;
  padding-bottom: 0.5rem;
}

.loaderpage {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  -webkit-animation: page 1s linear 4s forwards;
  animation: page 1s linear 4s forwards;
}
.loaderpage .loader {
  margin: auto;
  padding: 0;
  height: 120px;
  width: 120px;
  border: 16px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: chargeur 4s linear 0.5s forwards;
  animation: chargeur 4s linear 0.5s forwards;
}

@-webkit-keyframes page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(0.8);
    border-top-color: #FF79DA;
    border-bottom-color: #99E2D0;
  }
  25% {
    border-top-color: #9356DC;
    border-bottom-color: #99E2D0;
  }
  50% {
    transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  100% {
    transform: rotate(720deg) scale(0.8);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(0.8);
    border-top-color: #FF79DA;
    border-bottom-color: #99E2D0;
  }
  25% {
    border-top-color: #9356DC;
    border-bottom-color: #99E2D0;
  }
  50% {
    transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  100% {
    transform: rotate(720deg) scale(0.8);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
body {
  margin: 0;
  padding: 0;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "geoloc" "reserve" "howitsworks" "restaurant" "footer";
}

header {
  grid-area: header;
}

.geoloc {
  grid-area: geoloc;
}

.reserve {
  grid-area: reserve;
}

.howitsworks {
  grid-area: howitsworks;
}

.restaurant {
  grid-area: restaurant;
}

footer {
  grid-area: footer;
}

.geoloc {
  margin: 0;
  padding: 1.25rem;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  background: #f3f3f3;
}
.geoloc i {
  margin-right: 0.7rem;
}

.reserve {
  background-color: #fafafa;
  text-align: center;
  padding: 2rem;
}
.reserve h1 {
  margin: 0;
  padding: 0 2rem;
}

.howitworks {
  margin: auto;
  width: 95%;
}
.howitworks .container {
  padding: 1rem 0;
  margin: 0;
  padding: 1rem 0;
}
.howitworks .container h2 {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}
@media (min-width: 768px) {
  .howitworks .container h2 {
    text-align: center;
    margin: 1rem auto;
  }
}

.restaurant {
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #f3f3f3;
}
.restaurant h2 {
  width: 90%;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .restaurant h2 {
    text-align: center;
    margin: 1rem auto;
  }
}
.restaurant .restaurant-card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .restaurant .restaurant-card {
    margin: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

.main-menu {
  margin: auto;
  padding: 1rem;
  max-width: 1200px;
  top: -5rem;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
}

.title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 12px;
  position: relative;
}
.title-menu div i {
  font-size: 32px;
}

div .colorheart:hover ~ .whiteheart {
  opacity: 0;
}
div .whiteheart {
  margin: 1rem;
  padding: 0;
  font-size: 35px;
  position: relative;
  transition: 0.4s;
}
div .whiteheart:hover {
  z-index: -10;
  color: transparent;
  transition: 0.4s;
}
div .colorheart {
  margin: 1rem;
  padding: 0;
  font-size: 35px;
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  cursor: pointer;
}
div .colorheart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 1;
  z-index: 10;
  transition: 0.4s;
}

button {
  margin: 0;
  padding: 0.8rem 2rem;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  box-shadow: 5px 5px 3px rgba(170, 170, 170, 0.3);
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  box-shadow: 5px 5px 3px rgba(36, 36, 36, 0.3);
  background: linear-gradient(#fa81d8, #9761da);
}

.button-menu {
  padding: 2rem;
}

.card {
  margin: 0.5rem auto;
  width: 90%;
  max-width: 768px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  text-decoration: none;
  color: black;
}
.card .foodpicture {
  height: 170px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.card .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .description .areaName {
  margin: 1rem;
  padding: 0;
}
.card .description .areaName h3 {
  margin: 0.3rem 0;
}

.howitworks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: list;
}
@media (min-width: 1000px) {
  .howitworks ul {
    margin: auto;
    max-width: 1240px;
    display: flex;
    justify-content: space-evenly;
  }
}
.howitworks ul li {
  margin: 1rem;
  padding: 1.5rem 1rem;
  background: #f3f3f3;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ccc;
  position: relative;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .howitworks ul li {
    width: 90%;
  }
}
.howitworks ul li:hover {
  background-color: #dddddd;
}
.howitworks ul li:hover i {
  color: blueviolet;
}
.howitworks ul li i {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  color: #666666;
}

.tuto::before {
  counter-increment: list;
  content: counter(list) " ";
  padding: 0.3rem 0.6rem;
  background-color: blueviolet;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: -0.8rem;
  top: 1.2rem;
}

header i {
  position: absolute;
  left: 2rem;
  top: 50%;
  font-size: 1.2rem;
  color: black;
  transform: translateY(-50%);
}

.restaurant-picture {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.starter-dish-dessert {
  margin-top: 2rem;
  font-size: 18px;
  font-family: "Roboto";
}
.starter-dish-dessert::after {
  content: "";
  display: block;
  height: 4px;
  width: 45px;
  background-color: #99E2D0;
}

.meal-list {
  margin: 1rem auto;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.meal-list .meal-description {
  width: 77%;
  padding: 1rem;
  transition: 0.4s;
}
.meal-list .meal-description h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal-list .meal-description p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto";
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal-list .icon-price {
  display: flex;
}
.meal-list .icon-price .meal-price {
  display: flex;
  align-items: center;
  font-family: "Roboto";
}
.meal-list .icon-price .meal-price p {
  margin-top: 2.3rem;
  margin-right: 1rem;
  font-weight: bold;
  height: 0;
  width: 2rem;
}

.meal-list:hover .fa-check-circle {
  transform: none;
}

.meal-list:hover .v-icon {
  margin-right: 0px;
}

.meal-list:hover .meal-description {
  width: 55%;
}
@media screen and (min-width: 550px) {
  .meal-list:hover .meal-description {
    width: 70%;
  }
}

.v-icon {
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  border-radius: 0 10px 10px 0;
  font-size: 25px;
  color: white;
  overflow: hidden;
  margin-right: -75px;
  transition: 0.4s;
}
.v-icon .fa-check-circle {
  transition: 0.6s;
  transform: rotate(0.5turn);
}

.meal-list1 {
  animation-delay: 0s;
}

.meal-list2 {
  animation-delay: 0.1s;
}

.meal-list3 {
  animation-delay: 0.3s;
}

.meal-list4 {
  animation-delay: 0.4s;
}

.meal-list5 {
  animation-delay: 0.5s;
}

.meal-list6 {
  animation-delay: 0.6s;
}

.meal-list7 {
  animation-delay: 0.7s;
}

.meal-list8 {
  animation-delay: 0.8s;
}

.meal-list9 {
  animation-delay: 0.9s;
}

@-webkit-keyframes meal-loader {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.01);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes meal-loader {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.01);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
