@mixin marginPadding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin heightWitdh($height, $width) {
    height: $height;
    width: $width;
}

@mixin textProperties($family, $size, $weight: normal) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin flexMid($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($radius, $border, $shadow, $background, $color) {
    border-radius: $radius;
    border: $border;
    box-shadow: $shadow;
    background: $background;
    color: $color;
}