div {
    .colorheart:hover ~ .whiteheart {
        opacity: 0;
        transition: 0.4s;
    }
    .whiteheart {
        @include marginPadding(1rem, 0);
        font-size: 35px;
        position: relative;
        transition: 0.4s;
        &:hover {
            z-index: -10;
            color: transparent;
            transition: 0.4s;
        }
    }
    .colorheart {
        @include marginPadding(1rem, 0);
        font-size: 35px;
        position: absolute;
        transition: 0.4s;
        opacity: 0;
        cursor: pointer;
        &:hover {
            background: linear-gradient($pink, $purple);
            -webkit-background-clip: text;
            -webkit-text-stroke: 0px;
            color: transparent;
            opacity: 1;
            z-index: 10;
            transition: 0.4s;
        }
    }
}
