.meal-list {
    @include marginPadding(1rem auto, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    .meal-description {
        width: 77%;
        padding: 1rem;
        transition: 0.4s;
        h2 {
            @include marginPadding(0, 0);
            @include textProperties('Roboto', 16px, bold);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            @include marginPadding(0, 0);
            @include textProperties('Roboto', 16px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .icon-price {
        display: flex;
        .meal-price {
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            p {
                margin: 2.3rem 1rem inherit 0;
                //margin-top: 2.3rem;
                //margin-right: 1rem;
                font-weight: bold;
                @include heightWitdh(0, 2rem);
                @extend %flexMid;
            }
        }
    }
}
.meal-list:hover .fa-check-circle {
    transform: none;
}
.meal-list:hover .v-icon {
    margin-right: 0px;
}
.meal-list:hover .meal-description {
    width: 55%;
    @media screen and (min-width: 550px) {
        width: 70%;
    }
}

