.starter-dish-dessert {
    margin-top: 2rem;
    @include textProperties('Roboto', 18px);
    &::after {
        content: '';
        display: block;
        @include heightWitdh(4px, 45px);
        background-color: $green;
    }
}