footer {
    background-color: #353535;
    .footer-container {
        width: 95%;
        max-width: 1240px;
        margin: auto;
    }
    img {
        padding-top: 1rem;
        padding-left: 1rem;
        filter: invert(100%);
        width: 125px;
        }
    ul {
        @include marginPadding(0, 0 1rem);
        li {
            margin: 0.7rem 0rem;
            list-style: none;
            a {
                text-decoration: none;
                color: white;
                i {
                    width: 1rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}



