footer {
    background-color: #353535;
    
        img {
            padding-top: 1rem;
            padding-left: 1rem;
            filter: invert(100%);
            width: 125px;
        }
}

ul {
    @include marginPadding(0, 0 1rem);
        li {
            list-style: none;
            margin: 0.7rem 0rem;
                a {
                    color: white;
                }
        }
}

i {
    width: 1rem;
    padding-right: 0.5rem;
}