.howitworks {
    margin: auto;
    width: 95%;
    .container {
        padding: 1rem 0;
        @include marginPadding(0, 1rem 0);
            h2 {
                @include marginPadding(0 auto, 0);
                width: 90%;
                @media (min-width: 768px) {
                    text-align: center;
                    margin: 1rem auto;
                }
            }
    }  
}