.loaderpage {
  @include heightWitdh(100%, 100%);
  position: absolute;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: page 1s linear 4s forwards;
  .loader{
    @include marginPadding(auto, 0);
    @include heightWitdh(120px, 120px);
    border: 16px solid transparent;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-radius: 50%;
    animation: chargeur 4s linear 0.5s forwards;
  }
}
  
@keyframes page {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -10;
        }
}
  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(0.8);
      border-top-color: #FF79DA;
      border-bottom-color: #99E2D0;
    }
    25%{
      border-top-color: #9356DC;
      border-bottom-color: #99E2D0;
    }
    50% {
       transform: rotate(360deg) scale(1);
      border-top-color: #9356DC;
      border-bottom-color: #FF79DA;
    }
    75%{
      border-top-color: #FF79DA;
      border-bottom-color: #9356DC;
    }
    100%{
       transform: rotate(720deg) scale(0.8);
      border-top-color: #9356DC;
      border-bottom-color: #9356DC;
    }
    
  }