.loaderpage {
  @include heightWitdh(100%, 100%);
  position: fixed;
  background: white;
  @extend %flexMid;
  z-index: 1000;
          animation: page 1s linear 4s forwards;
  .loader{
    @include marginPadding(auto, 0);
    @include heightWitdh(120px, 120px);
    border: 16px solid transparent;
    border-top-color: $purple;
    border-bottom-color: $pink;
    border-radius: 50%;
                animation: chargeur 4s linear 0.5s forwards;
  }
}
  
@keyframes page {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -10;
        }
}

  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(0.8);
      border-top-color: $pink;
      border-bottom-color: $green;
    }
    25%{
      border-top-color: $purple;
      border-bottom-color: $green;
    }
    50% {
       transform: rotate(360deg) scale(1);
      border-top-color: $purple;
      border-bottom-color: $pink;
    }
    75%{
      border-top-color: $pink;
      border-bottom-color: $purple;
    }
    100%{
       transform: rotate(720deg) scale(0.8);
      border-top-color: $purple;
      border-bottom-color: $purple;
    }
    
  }