.restaurant {
    @include marginPadding( 0 auto, 1rem 0);
    background-color: #f3f3f3;
    font-family: 'Roboto';
    h2 {
        width: 90%;
        margin: 1rem auto;
        @media (min-width: 768px) {
            text-align: center;
            margin: 1rem auto;
        }
    }
        .restaurant-card {
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                margin: auto;
                max-width: 1280px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 2rem;
            }
        }
}









